/* style for livingroom, bedroom and diningroom section */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-container-item {
  flex: 50%;
  margin-top: -223px;
  padding-left: 1px;
}

.flex-container-item img {
  width: 100%;
}

.flex-container-item h2 {
  font-size: 30px;
  margin-top: -104px;
  color: #ffffff;
}

.flex-container-item p {
  font-size: 20px;
}

.flex-container-item a {
  text-decoration: none;
}

.flex-container-item a:hover {
  text-decoration: none;
  filter: brightness(90%);
  color: #707070;
}

@media (max-width: 950px) {
  .flex-container {
    flex-direction: column;
    position: relative;
    margin-top: -377px;
  }

  .flex-container-item {
    margin-top: 100px;
    margin-bottom: -44px;
  }
}

/* home page product img collage */
.row {
  float: left;
  width: 100%;
}

.col-1,
.col-2 {
  float: left;
  margin: 0 2% 20px 0;
}

.col-1 {
  width: 32%;
}

.col-2 {
  width: 66%;
}

div.row > div:last-child {
  margin-right: 0;
}

.color-1 {
  min-height: 150px;
  background: #bcbcbc;
}

.color-3 {
  min-height: 150px;
  background: #e9e9e9;
}

.color-4 {
  min-height: 150px;
  background: #424242;
}

.color-6 {
  min-height: 150px;
  background: #ff9900;
}

@media only screen and (max-width: 767px) {
  .col-1,
  .col-2 {
    float: none;
    margin: 0 2% 20px 2%;
    width: 96%;
  }

  .col-mobile {
    float: left;
    width: 46%;
  }

  div.container > div:last-child {
    margin-bottom: 0;
  }
}
